<html>
<head>
<title>Trailmix Detector Upload</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
<p><h1 align="center">Trailmix Detector Upload</h1></p>

<div class="main">
    Upload a picture and the algorithm will count the number of m and ms, peanuts, raisins, and almonds in the picture. Allowed filetypes are: jpegs, pngs, and gifs. 4MB Limit.
    <h2>Select a file to upload</h2>
    <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </p>
    <form method="post" action="/" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="file" class="form-control" autocomplete="off" required>
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit" class="btn btn-info">
        </p>
    </form>
    <br>
    <h2>Example Outputs</h2>
    <h3>Example 1</h3>
    <img class="free" src="/static/example_images/example3.png"><br><br>
    <h3>Example 2</h3>
    <img class="free" src="/static/example_images/example1.png"><br><br>
    <h3>Example 3</h3>
    <img class="free" src="/static/example_images/example2.png"><br>
    <h2>Pipeline Diagram</h2>
    <img class="diagram" src="/static/trailmix_pipeline_diagram.png">
<div class="footer">2021 Colin McGovern. Feel free to copy.</div>
</div>
</body>
</html>
